
<%if admin_signed_in? %>
	<%= render 'layouts/admin_menu2' %>

	<div class="row" id="top">
		<div class="col-sm-3 col-sm-offset-3">
			<h1><%= @kid.first %> <%= @kid.last %></h1>
			<div id="kid_info2">
				<h3><%= @kid.school %><br><%= @kid.age %> years old <h3>
				<%= button_to "Delete this account", kid_delete_path({kid_id: @kid.id}), data: { confirm: "Are you sure?" }, method: :delete %>
			</div>
		</div>
		<div class="col-sm-3" id="avatar">
			<%= image_tag(@kid.avatar.url(:medium)) %>
		</div> 
	</div>



	<hr class="divider_dark">



	<div class="row">
		<div class="col-sm-8 col-sm-offset-2" id="kid_metrics">
			<hr class="divider">
			<% if @kid.scores.any? %>
	      	<h1>Total Number of Tests (<%= @kid.scores.count %>)</h1>
	    <% end %>
	    <hr>
	    <table id="table_metrics">
	    	<tr id="table_header">
	    		<td width="200px">Letter</td>
	    		<td width="200px">Average Score</td>
	    	</tr>
				<% ("A".."Z").each do |x| %>
					<tr>
						<td><%= x %></td>
						<td><%= @hash[x] %></td>
					</tr>
				<% end %>
			</table>
	  	<hr class="divider">
		</div>

	</div>
		

<% end %>
	

<% if kid_signed_in? %>
	<%= render 'layouts/kid_menu2' %>

<div class="container-fluid">
<div class="row">
	<div class="col-md-2 kid_gutter"></div>
	<div class="col-md-8">
		<div class="kid_view">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div id="kid_info">
						<table id="kid_info_table">
							<tr>
								<td><h1><%= current_kid.first %> <%= current_kid.last %></h1>
							</tr>
							<tr>
								<td>Your school is <%= current_kid.school %></td>
							</tr>
							<tr>
								<td>You are <%= current_kid.age %> years old</td>
							</tr>
							<tr>
								<td>Your teacher is <%= current_kid.admin.first %> <%= current_kid.admin.last %></td>
							</tr>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<br>

			<div class="col-sm-8 col-sm-offset-2">
				<hr class="kid_divider">
			</div>

			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">

					<% if current_kid.scores.any? %>
				      <h3>Number of Tests (<%= current_kid.scores.count %>)</h3><hr class="kid_divider_small">
				      <div class="row">
					      <div class="col-sm-8 col-sm-offset-2">
						      <table id="kid_score_table">
						      	<tr>
						      		<td class="table_big" width="200px">Letter</td>
						      		<td class="table_big" width="200px">Score</td>
						      	</tr>
							      <% @scores = current_kid.scores.all %>
							      <% @scores.each do |score| %>
							      	<tr>
									      <td><%= score.letter %></td>
									      <td><%= score.score %></td>
									    </tr>
							  		<% end %>
							  	</table>
							  </div>
							 </div>
				  <% end %>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 kid_gutter"></div>
</div>
</div>
<% end %>
