
<%if admin_signed_in? %>
	<%= render 'layouts/admin_menu2' %>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1><%= @kid.first %> <%= @kid.last %></h1>
			<h3><%= @kid.school %><br><%= @kid.age %> years old <h3>
		</div>
	</div>
	<br>
	<div class="col-sm-8 col-sm-offset-2">
		<hr class="divider">
	</div>
	<br>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<% if @kid.scores.any? %>
		      <h3>Number of Tests (<%= @kid.scores.count %>)</h3><hr>
		      <% @scores = @kid.scores.all %>
		      <% @scores.each do |score| %>
				    <li>
				      <%= score.letter %>
				      <%= score.score %>
				    <hr>
		  		<% end %>
		  <% end %>
		</div>
	</div>
<% end %>

<% if kid_signed_in? %>
	<%= render 'layouts/kid_menu2' %>

<div class="container-fluid">
<div class="row">
	<div class="col-md-2 kid_gutter"></div>
	<div class="col-md-8">
		<div class="kid_view">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div id="kid_info">
						<table id="kid_info_table">
							<tr>
								<td><h1><%= current_kid.first %> <%= current_kid.last %></h1>
							</tr>
							<tr>
								<td>Your school is <%= current_kid.school %></td>
							</tr>
							<tr>
								<td>You are <%= current_kid.age %> years old</td>
							</tr>
							<tr>
								<td>Your teacher is <%= current_kid.admin.first %> <%= current_kid.admin.last %></td>
							</tr>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<br>

			<div class="col-sm-8 col-sm-offset-2">
				<hr class="kid_divider">
			</div>

			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">

					<% if current_kid.scores.any? %>
				      <h3>Number of Tests (<%= current_kid.scores.count %>)</h3><hr class="kid_divider_small">
				      <div class="row">
					      <div class="col-sm-8 col-sm-offset-2">
						      <table id="kid_score_table">
						      	<tr>
						      		<td class="table_big" width="200px">Letter</td>
						      		<td class="table_big" width="200px">Score</td>
						      	</tr>
							      <% @scores = current_kid.scores.all %>
							      <% @scores.each do |score| %>
							      	<tr>
									      <td><%= score.letter %></td>
									      <td><%= score.score %></td>
									    </tr>
							  		<% end %>
							  	</table>
							  </div>
							 </div>
				  <% end %>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 kid_gutter"></div>
</div>
</div>
<% end %>
