<%= render 'layouts/admin_menu' %>

<div class="jumbotron" id="admin_header">
	<h2>Welcome, 
		<%= current_admin.first %> <%= current_admin.last %>
	</h2>
</div>

<div class = "row">
	<div class = "col-md-12 add_student">
		<%= link_to "Add a student", new_kid_registration_path %>
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 admin_kids">
		<% if current_admin.kids.any? %>
	      <h3>Students (<%= current_admin.kids.count %>)</h3><hr>
	      <% @kids = current_admin.kids.all %>
	      <% @kids.each do |kid| %>
			    <li>
			      <%= kid.first %>
			      <%= kid.last %>
			    </li>
			    <%= link_to "View this student's page", kid_profile_path(kid_id: kid.id) %>
			    <hr>
	  		<% end %>
	  <% end %>
	</div>
</div>