
<div class="container-fluid" id="home">
  <button type="button" id="gear" class="btn btn-info btn-lg" data-toggle="modal" data-target="#admin">Admin</button>

  <div id="admin" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Teacher Log In</h4>
        </div>
        <div class="modal-body">
            <div class="admin_login">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>

                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>

                <div class="actions admin_signin_submit">
                  <%= f.submit "Log in" %>
                </div>
              <% end %>
              <div id ="admin_links">
                <%= render "admins/shared/links" %>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
  
  

  <div class="row anim">
    <div class="col-md-12">
      <h1>TRACE</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 kid_login">
      <h2>SIGN IN!</h2>
        <%= form_for(:kid, url: kid_session_path(:kid)) do |f| %>
          <div class="field">
            <%= f.label :first, "First Name" %><br />
            <%= f.text_field :first, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
    </div>
  </div>

</div>
