<!DOCTYPE html>
<html>
<head>
  <title>Trace</title>
  <script> 
  var letter = "<%= @letter %>"
  var kid = "<%= @kid %>"
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'main' %>
  <link href='https://fonts.googleapis.com/css?family=Antic|Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
  		<% flash.each do |name, msg| %>
  			<%= content_tag(:div, msg, class: "alert alert-info") %>
  		<% end %>
    <%= yield %>
   </div>

</body>
</html>
